hr {
  border: 5px solid #233b80;
  width: 150px;
  border-radius: 15px;
}
.navbar {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  transition: ease 0.5s;

  /* background: #233b80; */
}
.navbar.active {
  background: #233b80;
  transition: ease 0.9s;
}
.navbar a {
  color: #233b80;
  font-weight: 600;
}
.active a {
  color: #ced4da;
}
.navbar img {
  width: 200px;
}
.img-navbar {
  background: url("../resource/logo-transparente-1.png");
  width: 100px;
}
.active .img-navbar {
  background: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}
.text-center a {
  color: #ffffff;
  text-decoration: none;
}
.btn-login {
  margin: auto 5px;
  padding: 10px;
  background: #233b80;
  border: none;
  color: #ffffff;
}
.btn-register {
  margin: auto 5px;
  padding: 10px;
  color: #ffffff;
  background: #029bc6;
}
@media (min-width: 992px) {
  .navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}

.masthead h2 {
  color: #009ee3;
  font-size: 25px;
  font-weight: 900;
}
.mx-auto img {
  width: 100%;
}

.masthead {
  background: 
  /* linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 174, 239, 0.7) 75%,
      #00aeef 100%
    ), */ url("../resource/fondo-network.png");
  /* /filter: blur(2px); */
  background-color: rgba(255, 255, 255, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.nosotros h2 {
  font-weight: 900;
  font-size: 40px;
}
.img-why {
  max-width: 20%;
  margin-bottom: -10%;
  background: #ffffff;
  padding: 15px;
  border-radius: 50%;
}
.icon-man {
  position: relative;
  max-width: 20%;
  margin-top: -20%;
  transform: rotatey(180deg);
}
.content-iconMan {
  text-align: end;
}
.content-imgPareja {
  text-align: start;
}
.projects-section {
  margin-top: 0;
}
.projects-section h2 {
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 100px;
  color: #029bc6;
}
.img-pareja {
  position: relative;
  max-width: 20%;
  margin-top: -20%;
  transform: rotatey(180deg);
}
.team h1 {
  margin-top: -70px;
  color: #029bc6;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 50px;
}
.gallery {
  margin-top: 100px;
}
.gallery h1 {
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 100px;
  color: #029bc6;
}

.product img {
  width: 100%;
  height: 100%;
}
.product-text1 {
  background-color: #233b80;
}
.product-text2 {
  background-color: #029bc6;
}
.featured-text p {
  color: #233b80;
}
.team-section {
  padding-top: 100px;
  padding-bottom: 40px;
}
.card {
  border: none;
  transition: all 0.5s;
}
.card-header {
  background: #ffffff;
  border: none;
}
.card-body {
  margin-top: 20px;
  background: #029bc6;
  border-radius: 10px;
}
.card h4 {
  color: #ffffff;
}
.card .small {
  color: #ffffff;
}
.team {
  margin-bottom: 80px;
}
.team-img {
  display: block;
  margin: auto;
  margin-bottom: 40px;
  width: 300px;
}

.team-icon {
  border-radius: 50%;
  box-shadow: 0 0 10px grey;
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
}
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 15px 20px 0 grey;
  border-radius: 15px;
}
.card hr {
  color: #009ee3;
}
.contact-section {
  background:  
    /* linear-gradient(
      to bottom,
      rgba(35, 59, 128, 0.3) 0%,
      rgba(35, 59, 128, 0.7) 75%,
      #233b80 100%
    ), */ url("../resource/fondo-1366×768.jpg");
  /* filter: blur(2px); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-bottom: 40px;
}

.contact-section p {
  color: #ffffff;
}
.contact-section h1 {
  color: #233b80;
  font-weight: 900;
}
.contact-section .btn {
  display: block;
  margin: auto;
}
.contact-section textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

footer {
  background: #233b80;
  margin: 0;
  padding: 50px;
}
#projects .row {
  width: 100%;
  height: 100%;
}

.font-contact {
  display: block;
  margin: auto;
}

.modal-content {
  border: none;
  border-radius: 15px;
}
.modal-header {
  border-bottom: 1px solid #009ee3;
}
.modal-title {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 30px;
  color: #233b80;
}
.modal-body {
  border: none;
}
.modal-body label {
  color: rgb(65, 65, 65);
  letter-spacing: 4px;
  text-align: center;
}
